{% extends "base.html" %}
{% load static %}

{% block metas %}
	<meta name="keywords" content="Sobre, vida, carreira, Henriqueta, Silva">
	<meta name="description" content="SObre a Vida de Carreira de Henriqueta Maria Augusto de Sousa da Silva">
{% endblock %}

{% block title%}
	Sobre mim
{% endblock%}

{% block content %}



    <!-- Breadcrumbs -->
    <div class="header overlay index">
        <div class="container">
            <div class="bread-inner">
                <div class="row d-flex">
                    <div class="col-lg-6 col-12">
                        <img src="{{image.image.url}}" alt="{{image.title}}" class="img-fluid">
                    </div>
                    <div class="col-lg-6 col-12 d-flex justify-content-center align-items-center">
                        <h1 class="text-light text-center">Henriqueta Maria Augusto de Sousa da Silva</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->



    <div class="container-fluid m-5">
        <!-- SOBRE A CANDIDATA -->
        <div class="row justify-content-center">
            <div class="col-lg-4 col-12">
                <img src="{% static 'assets/geral/img/henriqueta.png' %}" alt="">
            </div>
            <div class="col-lg-6 col-12 about-p">
                <h2 class="text-primary">Sobre a Candidata</h2>
                <p>
                    Sou Henriqueta Maria Augusto de Sousa da Silva, uma advogada comprometida com a defesa da justiça,
                    ética e excelência na prática jurídica. Com uma trajetória profissional que abrange mais de 25 anos,
                    trago uma vasta experiência no campo jurídico, solidificada por uma Licenciatura em Direito pela
                    Universidade Agostinho Neto, concluída em 1993/94.
                </p>

                <p>
                    Atualmente, tenho a honra de ocupar o cargo de Presidente do Conselho Provincial de Luanda da Ordem
                    dos Advogados de Angola (OAA), função que exerço com distinção há 6 anos. Este período tem sido
                    marcado por um compromisso inabalável na defesa dos direitos fundamentais, além de uma atuação
                    dedicada à promoção da igualdade e do acesso à justiça para todos os cidadãos.
                </p>

                <p>
                    Minha jornada profissional iniciou-se com passagens por importantes empresas, incluindo uma
                    destacada atuação como Gerente e Assessora em organizações renomadas, o que contribuiu
                    significativamente para a construção de habilidades sólidas e uma compreensão abrangente das
                    complexidades legais em diferentes contextos.
                </p>

                <p>
                    Para mim, a advocacia é mais do que uma profissão; é um compromisso com a ética, a integridade e a
                    defesa dos direitos humanos. Minha formação e experiência consolidaram minha convicção na
                    importância de uma atuação jurídica pautada pela excelência, responsabilidade social e respeito à
                    ética profissional.
                </p>

                <p>
                    Além do compromisso profissional, meu envolvimento em atividades comunitárias e ações voltadas para
                    o desenvolvimento social refletem minha convicção no papel transformador que um advogado pode
                    exercer na sociedade.
                </p>


                <p>
                    Estou comprometida em continuar a contribuir para a melhoria do sistema legal e para o
                    fortalecimento da advocacia em Angola, mantendo-me sempre atualizada, buscando aprimoramento
                    contínuo e trabalhando incansavelmente para assegurar que os princípios fundamentais da justiça
                    sejam sempre respeitados.</p>
                </p>
                    {% comment %}                 
                    <ul class="text-dark">
                        <li><strong>Nome completo:</strong> Henriqueta Maria Augusto de Sousa da Silva</li>
                        <li><strong>Idade:</strong> 57</li>
                        <li><strong>Estado civil:</strong> Viúva</li>
                        <li><strong>Profissão:</strong> Advogada</li>
                        <li><strong>Função atual:</strong> Presidente do conselho provincial de Luanda da OAA</li>
                        <li><strong>Tempo a desempenhar a função:</strong> 6 anos</li>
                        <li><strong>Licenciatura em:</strong> Direito na UAN-1993/94</li>
                    </ul>  
                {% endcomment %}
            </div>
        </div>

        <!-- EXPERIÊNCIA DE TRABALHO -->
        <div class="row mt-5 justify-content-center">
            <div class="col-lg-6 col-12 about-p">
                <h2 class="text-primary">Experiência de Trabalho</h2>

                <p>
                    Minha experiência diversificada e enriquecedora ao longo dos anos moldou minha abordagem à
                    advocacia, reforçando meu compromisso inabalável com a ética, a integridade e a busca contínua pela
                    justiça.
                </p>

                <p>
                    Em 1995, assumi a posição de Gerente do Gabinete Jurídico na SUT – Sociedade Unificada de Tabacos de
                    Angola, Lda. Essa oportunidade me proporcionou uma imersão completa no campo jurídico corporativo,
                    onde adquiri habilidades gerenciais e legais cruciais para o desenvolvimento da minha carreira.
                </p>

                <p>
                    No ano seguinte, entre 1995 e 1996, ingressei no Estágio de Advocacia pela Ordem de Advogados de
                    Angola, em Luanda. Essa experiência foi um divisor de águas, aprimorando minha compreensão prática
                    do exercício jurídico e consolidando os fundamentos teóricos adquiridos durante minha formação. Essa
                    oportunidade me permitiu consolidar minha prática advocatícia, contribuindo ativamente para
                    estratégias legais eficientes e impactantes.
                </p>

                <p>
                    Ao longo dos anos, busquei incessantemente o aprimoramento profissional. Em 2000, participei de um
                    Seminário sobre a LGT, promovido pela UCAN em parceria com o MAPESS, ampliando meu conhecimento
                    sobre questões legais fundamentais.
                </p>

                <p>
                    Durante os anos de 2001 a 2007, tive o privilégio de atuar como Assessora do Conselho de Gerência e
                    Recursos Humanos na British American Tobacco – B.A.T. Angola, Lda. Posteriormente, assumi a posição
                    de Gerente para o Departamento do CORA/LEGAL – Corporate & Regulatory Affairs. Essas experiências me
                    permitiram liderar estratégias jurídicas e regulatórias de forma proativa e assertiva.
                </p>

                <p>
                    Cada passo na minha jornada profissional foi uma oportunidade para aprimorar minha compreensão
                    multifacetada dos desafios jurídicos e corporativos. Esta trajetória diversificada me proporcionou
                    não apenas experiência, mas também uma visão abrangente das nuances do Direito.
                </p>

                <p>
                    Estou profundamente comprometida em aplicar esse conjunto de habilidades e conhecimentos em favor da
                    justiça, da ética e da defesa dos direitos fundamentais. É com essa visão e compromisso que continuo
                    a trilhar minha jornada na advocacia, sempre em busca da construção de um ambiente legal mais justo
                    e equitativo.
                </p>

                {% comment %} <ul class="text-dark">
                    <li>1995: Gerente do Gabinete jurídico da SUT–Soc. Unif.de Tabacos de Angola, Lda.</li>
                    <li>1995/1996: Estágio de Advocacia, pela Ordem de Advogados de Angola, Luanda</li>
                    <li>1996: Subdirectora do Gabinete Jurídico da SUT – Soc. Unif. de Tabacos de Angola, Lda</li>
                    <li>1996: Exercício de Advocacia.</li>
                    <li>2000: Seminário sobre a LGT pela UCAN em parceria com o MAPESS</li>
                    <li>2001-2007: Assessora do Cons. Gerência e RH (British American Tobacco –B.A.T. Angola, Lda)</li>
                    <li>2005-2007: Gerente para o Departamento do CORA/LEGAL – Corporate & Regulatory Affairs (British
                        American
                        Tobacco –B.A.T. Angola, Lda)</li>
                </ul> {% endcomment %}
            </div>
            <div class="col-lg-4 col-12">
                <img src="{% static 'assets/geral/img/about-me.png' %}" alt="">
            </div>
        </div>

        <div class="row m-5">
        </div>


        <!-- eM QUE ACREDITO -->
        <div class="row mt-5 justify-content-center ">
            <div class="col-lg-4 col-12 about-p">
                <h2 class="text-primary text-center">Em que acredito?</h2>
                <img src="{% static 'assets/geral/img/about-me.png' %}" alt="">
            </div>
            <div class="col-lg-6 col-12 about-p">

                <p>
                    Minha experiência diversificada e enriquecedora ao longo dos anos moldou minha abordagem à
                    advocacia,
                    reforçando meu compromisso inabalável com a ética, a integridade e a busca contínua pela justiça.
                </p>

                <p>
                    Acredito firmemente que o caminho para a transformação e a inovação está pavimentado com desafios,
                    obstáculos e, por vezes, árduas circunstâncias. A busca por mudanças significativas no tecido social
                    requer coragem, visão holística e uma determinação incansável. Somente os ousados, os que enxergam
                    além das circunstâncias adversas, são capazes de avançar e gerar impactos reais.
                </p>

                <p>
                    Para mim, as pessoas são o cerne de qualquer mudança, e as instituições servem como meios para
                    alcançar ideais e concretizar sonhos. Meu maior anseio é ver uma classe unida, respeitada e
                    valorizada. É desejar uma classe que não apenas cumpra suas atribuições constitucionais, mas que
                    também recupere sua dignidade, refletindo os princípios fundamentais que a regem.
                </p>

                <p>
                    Acredito no poder da unidade, na força da coesão e no respeito mútuo como alicerces essenciais para
                    o fortalecimento da classe e a consecução de um sistema jurídico mais justo e ético. Vejo a
                    necessidade de promover um ambiente onde cada advogado seja reconhecido não apenas pelo seu papel
                    profissional, mas também pela sua contribuição para a sociedade e pela preservação dos valores
                    fundamentais da justiça e equidade.
                </p>

                <p>
                    Desejo profundamente não só testemunhar, mas também contribuir ativamente para a construção de uma
                    classe que se destaque pela sua integridade, ética e compromisso com a defesa dos direitos
                    fundamentais. É esta visão que me impulsiona diariamente na advocacia: a busca incessante por uma
                    classe unida, respeitada e comprometida com o bem-estar coletivo.
                </p>
                {% comment %} <ul class="text-dark">
                    <li>1995: Gerente do Gabinete jurídico da SUT–Soc. Unif.de Tabacos de Angola, Lda.</li>
                    <li>1995/1996: Estágio de Advocacia, pela Ordem de Advogados de Angola, Luanda</li>
                    <li>1996: Subdirectora do Gabinete Jurídico da SUT – Soc. Unif. de Tabacos de Angola, Lda</li>
                    <li>1996: Exercício de Advocacia.</li>
                    <li>2000: Seminário sobre a LGT pela UCAN em parceria com o MAPESS</li>
                    <li>2001-2007: Assessora do Cons. Gerência e RH (British American Tobacco –B.A.T. Angola, Lda)</li>
                    <li>2005-2007: Gerente para o Departamento do CORA/LEGAL – Corporate & Regulatory Affairs (British
                        American
                        Tobacco –B.A.T. Angola, Lda)</li>
                </ul> {% endcomment %}
            </div>

        </div>
    </div>

    <!-- Start Why choose -->
    <div class="container-fluid m-5">
        <!-- VISÃO -->
        <div class="row justify-content-center">
            <div class="col-lg-6 col-12 about-p">
                <h2 class="text-primary text-center">Minha Visão</h2>
                <div class="text-center">
                    <img src="{% static 'assets/geral/img/visao.icone.png' %}" alt="imagem representativa de Visão">
                </div>
                <p class="text-left">
                    <strong>Ética e Integridade Profissional:</strong> Compromisso inabalável com a ética e a integridade em
                    todas as facetas da advocacia.
                </p>

                <p class="text-left">
                    <strong>Defesa dos Direitos e Justiça:</strong> Comprometimento com a defesa dos direitos humanos e a busca
                    pela justiça igualitária.
                </p>

                <p class="text-left">
                    <strong>Engajamento Social e Excelência:</strong> Envolvimento ativo na comunidade, busca pela excelência
                    profissional e dedicação ao aprendizado contínuo..
                </p>
            </div>
        </div>

        <!-- MISSÃO -->
        <div class="row mt-5 justify-content-center">
            <div class="col-lg-6 col-12 about-p">
                <h2 class="text-primary text-center">Minha Missão</h2>
                <p class="text-left">
                    <div class="text-center">
                        <img src="{% static 'assets/geral/img/missao-icone.png' %}" alt="imagem representativa de missão">
                    </div>
                    Busco promover a justiça, defender os direitos fundamentais e contribuir ativamente para uma
                    sociedade mais ética, igualitária e inclusiva, aplicando meus conhecimentos jurídicos em
                    prol do bem-estar coletivo.
                </p>
            </div>
        </div>


        <!-- VALORES -->
        <div class="row mt-5 justify-content-center">
            <div class="col-lg-6 col-12 about-p">
                <div class="text-center">
                    <h2 class="text-primary text-center">Meus Valores</h2>
                    <img src="{% static 'assets/geral/img/valores-icone.png' %}" alt="imagem representativa de valores">
                </div>
                <p class="text-left">
                    <strong>Ética e Integridade:</strong> Comprometimento inabalável com a ética profissional e a integridade em
                    todas as interações e práticas advocatícias.
                </p>

                <p class="text-left">
                    <strong>Compromisso com a Justiça Social:</strong> Dedicação em promover a justiça, defender os direitos
                    humanos e lutar por uma sociedade mais equitativa e inclusiva.
                </p>

                <p class="text-left">
                    <strong>Excelência e Aprendizado Contínuo:</strong> Busca constante pela excelência profissional, aliada a
                    uma mentalidade de aprendizado contínuo para oferecer os melhores serviços jurídicos e
                    contribuir para a evolução do campo jurídico.
                </p>
            </div>

        </div>
    </div>

    {% endblock %}
