{% extends "base.html" %}
{% load static %}

{% block metas %}
<meta name="keywords" content="Site keywords here">
<meta name="description" content="">
{% endblock %}

{% block title %}
Página Inicial
{% endblock%}

<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item active" data-bs-interval="5000">
			<img src="assets/geral/img/thumbnails/carrocel1.png" class="d-block w-100" alt="...">
		</div>
	</div>
	<div class="carousel-inner">
		<div class="carousel-item " data-bs-interval="5000">
			<img src="assets/geral/img/thumbnails/carrocel2.png" class="d-block w-100" alt="...">
		</div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>





<!-- Start Why choose -->
<section class="why-choose section">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-12">
				<!-- Start Choose Left -->
				<div class="choose-left">
					<h2>Sobre mim</h2>
					<p>
						Henriqueta Maria Augusto de Sousa da Silva é uma advogada dedicada e experiente, cuja
						trajetória na área jurídica é marcada por uma sólida formação acadêmica e um compromisso
						inabalável com a advocacia.
					</p>
					<p>
						Com mais de duas décadas de experiência na advocacia, Henriqueta iniciou sua jornada como
						Gerente do Gabinete Jurídico da SUT – Sociedade Unificada de Tabacos de Angola, Lda, onde
						desenvolveu habilidades cruciais e conhecimento prático no campo jurídico. Posteriormente,
						realizou um estágio de advocacia pela Ordem de Advogados de Angola em Luanda, enriquecendo
						ainda mais sua expertise.
					</p>
					<a href="about_us.html" class="btn text-light">
						Leia Mais
						<i class="fa fa-long-arrow-right"></i>
					</a>
				</div>
				<!-- End Choose Left -->
			</div>
			<div class="col-lg-6 col-12">

				<!-- Start Choose Rights -->
				<div class="choose-right"
					style="background-image:url('assets/geral/img/thumbnails/thumb-about_me.png');">
					<div class="video-image">
					</div>
				</div>
				<!-- End Choose Rights -->
			</div>
		</div>
	</div>
</section>
<!--/ End Why choose -->

<!-- Start Fun-facts -->
<div id="fun-facts" class="fun-facts index section overlay mt-2" style="background:url('assets/geral/img/lei.jpg');">
	<div class="container ">
		<div class="row justify-content-center">
			<div class="col-lg-3 col-md-6 col-12">
				<div class="single-fun">
					<i class="icofont icofont-home"></i>
					<div class="content ">
						<span class="counter ">27</span>
						<p>Anos na Ordem de advogados</p>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-12">
				<div class="single-fun">
					<i class="icofont icofont-user-alt-3"></i>
					<div class="content">
						<span class="counter ">2</span>
						<p>Anos Trabalhando como Gerente</p>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-12">
				<!-- Start Single Fun -->
				<div class="single-fun">
					<i class="icofont-simple-smile "></i>
					<div class="content">
						<span class="counter">3</span>
						<p>Entidades Onde Trabalhei</p>
					</div>
				</div>
				<!-- End Single Fun -->
			</div>

			<div class="col-lg-3 col-md-6 col-12">
				<!-- Start Single Fun -->
				<div class="single-fun">
					<i class="icofont icofont-table"></i>
					<div class="content">
						<span class="counter ">27</span>
						<p>Anos de Experiência</p>
					</div>
				</div>
				<!-- End Single Fun -->
			</div>
		</div>
	</div>
</div>
<!--/ End Fun-facts -->



<!-- Start portfolio -->
<section class="portfolio section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title">
					<h2>Minha Galeria de Imagens e Casos</h2>
					<img src="assets/geral/img/section-img.png" alt="#">
					<p>Cada trabalho, cada caso, cada vida que mudei, foi um futuro que melhorei.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 col-12">
				<div class="owl-carousel portfolio-slider">
					<div class="single-pf">
						<img src="assets/geral/img/galeria/foto1.jpg" alt="#">
						<a href="assets/geral/img/galeria/foto1.jpg" class="btn">Ver</a>
					</div>
					<div class="single-pf">
						<img src="assets/geral/img/galeria/foto2.jpg" alt="#">
						<a href="assets/geral/img/galeria/foto2.jpg" class="btn">Ver</a>
					</div>
					<div class="single-pf">
						<img src="assets/geral/img/galeria/foto3.jpg" alt="#">
						<a href="assets/geral/img/galeria/foto3.jpg" class="btn">Ver</a>
					</div>
					<div class="single-pf">
						<img src="assets/geral/img/galeria/foto4.jpg" alt="#">
						<a href="assets/geral/img/galeria/foto4.jpg" class="btn">Ver</a>
					</div>
					<div class="single-pf">
						<img src="assets/geral/img/galeria/foto5.jpg" alt="#">
						<a href="assets/geral/img/galeria/foto5.jpg" class="btn">Ver</a>
					</div>
					<div class="single-pf">
						<img src="assets/geral/img/galeria/foto6.jpg" alt="#">
						<a href="assets/geral/img/galeria/foto6.jpg" class="btn">Ver</a>
					</div>
					<div class="single-pf">
						<img src="assets/geral/img/galeria/foto7.jpg" alt="#">
						<a href="assets/geral/img/galeria/foto7.jpg" class="btn">Ver</a>
					</div>
					<div class="single-pf">
						<img src="assets/geral/img/galeria/foto8.jpg" alt="#">
						<a href="assets/geral/img/galeria/foto8.jpg" class="btn">Ver</a>
					</div>
					<div class="single-pf">
						<img src="assets/geral/img/galeria/foto9.jpg" alt="#">
						<a href="assets/geral/img/galeria/foto9.jpg" class="btn">Ver</a>
					</div>
					<div class="single-pf">
						<img src="assets/geral/img/galeria/foto10.jpg" alt="#">
						<a href="assets/geral/img/galeria/foto10.jpg" class="btn">Ver</a>
					</div>
					<div class="single-pf">
						<img src="assets/geral/img/galeria/foto11.jpg" alt="#">
						<a href="assets/geral/img/galeria/foto11.jpg" class="btn">Ver</a>
					</div>
					<div class="single-pf">
						<img src="assets/geral/img/galeria/foto12.jpg" alt="#">
						<a href="assets/geral/img/galeria/foto12.jpg" class="btn">Ver</a>
					</div>
					<div class="single-pf">
						<img src="assets/geral/img/galeria/foto13.jpg" alt="#">
						<a href="assets/geral/img/galeria/foto13.jpg" class="btn">Ver</a>
					</div>
					<div class="single-pf">
						<img src="assets/geral/img/galeria/foto14.jpg" alt="#">
						<a href="assets/geral/img/galeria/foto14.jpg" class="btn">Ver</a>
					</div>
					<div class="single-pf">
						<img src="assets/geral/img/galeria/foto15.jpg" alt="#">
						<a href="assets/geral/img/galeria/foto15.jpg" class="btn">Ver</a>
					</div>
					<div class="single-pf">
						<img src="assets/geral/img/galeria/foto16.jpg" alt="#">
						<a href="assets/geral/img/galeria/foto16.jpg" class="btn">Ver</a>
					</div>
					<div class="single-pf">
						<img src="assets/geral/img/galeria/foto17.jpg" alt="#">
						<a href="assets/geral/img/galeria/foto17.jpg" class="btn">Ver</a>
					</div>
					<div class="single-pf">
						<img src="assets/geral/img/galeria/foto18.jpg" alt="#">
						<a href="assets/geral/img/galeria/foto18.jpg" class="btn">Ver</a>
					</div>
					<div class="single-pf">
						<img src="assets/geral/img/galeria/foto19.jpg" alt="#">
						<a href="assets/geral/img/galeria/foto19.jpg" class="btn">Ver</a>
					</div>
					<div class="single-pf">
						<img src="assets/geral/img/galeria/foto20.jpg" alt="#">
						<a href="assets/geral/img/galeria/foto20.jpg" class="btn">Ver</a>
					</div>
					<div class="single-pf">
						<img src="assets/geral/img/galeria/foto21.jpg" alt="#">
						<a href="assets/geral/img/galeria/foto21.jpg" class="btn">Ver</a>
					</div>
					<div class="single-pf">
						<img src="assets/geral/img/galeria/foto22.jpg" alt="#">
						<a href="assets/geral/img/galeria/foto22.jpg" class="btn">Ver</a>
					</div>
					<div class="single-pf">
						<img src="assets/geral/img/galeria/foto23.jpg" alt="#">
						<a href="assets/geral/img/galeria/foto23.jpg" class="btn">Ver</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--/ End portfolio -->



<!-- Start Blog Area -->
<section class="blog section" id="blog">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title">
					<h2>Noticias Recentes.</h2>
					<img src="assets/geral/img/section-img.png" alt="#">
					<p> A leitura é o passaporte para a sabedoria.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6 col-12">
				<!-- Single Blog -->
				<div class="single-news">
					<div class="news-head">
						<img src="assets/geral/img/advogado-cleinte.png" alt="#">
					</div>
					<div class="news-body">
						<div class="news-content">
							<div class="date ">22 Novembro, 2023</div>
							<h2><a href="publication-single.html">Os beneficios de um ter um advogado de defesa.</a>
							</h2>
							<p class="text">
								Ter um advogado de defesa oferece segurança jurídica e proteção dos direitos
								fundamentais. Sua expertise técnica e compromisso garantem uma representação justa e
								equitativa perante a lei. Além disso, um advogado de defesa é essencial para
								orientar e assegurar que os procedimentos legais sejam seguidos, proporcionando
								tranquilidade e assertividade durante processos judiciais.
							</p>
						</div>
					</div>
				</div>
				<!-- End Single Blog -->
			</div>

			<div class="col-lg-4 col-md-6 col-12">
				<!-- Single Blog -->
				<div class="single-news">
					<div class="news-head">
						<img src="assets/geral/img/advogado-cliente1.jpeg" alt="#">
					</div>
					<div class="news-body">
						<div class="news-content">
							<div class="date">1 Outubro, 2023</div>
							<h2>
								<a href="publication-single.html">
									Palestra sobre "A importância de uma juventude activa na
									sociedade".
								</a>
							</h2>
							<p class="text">
								Estar na Ordem dos Advogados oferece uma rede de suporte profissional e recursos
								especializados. Os membros têm acesso a atualizações regulares sobre legislação e
								jurisprudência, além de oportunidades de formação contínua. Pertencer à Ordem dos
								Advogados também proporciona um ambiente colaborativo, permitindo troca de
								conhecimentos e experiências com colegas, fortalecendo assim a prática e a ética
								profissional.
							</p>
						</div>
					</div>
				</div>
				<!-- End Single Blog -->
			</div>
		</div>
	</div>
</section>
<!-- End Blog Area -->





<!-- Start Appointment -->
<section class="appointment">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title">
					<h2>Fale comigo e deixe-me ajuda-lo</h2>
					<img src="assets/geral/img/section-img.png" alt="#">
					<p>Na frente de uma advogada, o problema mais complexo tem uma fácil solução</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-md-12 col-12">
				<form class="form" method="post" action="">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-12 mt-3">
							<div class="form-group">
								<input name="first_name" type="text" placeholder="Seu primeiro Nome">
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-12 mt-3">
							<div class="form-group">
								<input name="last_name" type="text" placeholder="Seu Sobrenome">
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-12 mt-3">
							<div class="form-group">
								<input name="email" type="email" placeholder="Email">
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-12 mt-3">
							<div class="form-group">
								<input name="phone" type="tel" placeholder="Seu Telefone">
							</div>
						</div>

						<div class="col-lg-12 col-md-12 col-12 mt-3">
							<div class="form-group">
								<textarea name="message"
									placeholder="Escreva uma mensagem para nós e entraremos em contacto consigo....."></textarea>
							</div>
						</div>
					</div>

					<div class="col-lg-12 col-md-4 col-12">
						<div class="form-group">
							<div class="button">
								<button type="submit" class="btn">Entrar em Contacto</button>
							</div>
						</div>
					</div>

				</form>
			</div>
			<div class="col-lg-6 col-md-12 ">
				<div class="appointment-image">
					<img src="assets/geral/img/carrocel2.png" alt="#">
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Appointment -->





<!-- Start Newsletter Area -->
<section class="newsletter section">
	<div class="container">
		<div class="row ">
			<div class="col-lg-6  col-12">
				<!-- Start Newsletter Form -->
				<div class="subscribe-text ">
					<h6>Newsletter</h6>
					<p>Assine a nossa newsletter e esteja a parte das novidades da campanha.</p>
				</div>
				<!-- End Newsletter Form -->
			</div>

			<div class="col-lg-6  col-12">
				<!-- Start Newsletter Form -->
				<div class="subscribe-form ">
					<form action="" method="get" target="_blank" class="newsletter-inner">
						<input name="EMAIL" placeholder="Seu endereço de email" class="common-input"
							onfocus="this.placeholder = 'Seu endereço de email'"
							onblur="this.placeholder = 'Seu endereço de email'" required="" type="email">
						<button class="btn">Subscribe</button>
					</form>
				</div>
				<!-- End Newsletter Form -->
			</div>
		</div>
	</div>
</section>
<!-- /End Newsletter Area -->

{% endblock %}

{% block local_script %}
<script src="{% static 'assets/geral/js/carrocel.js' %}"></script>
{% endblock %}