<!doctype html>
<html lang="pt-ao">

<head>
	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="Site keywords here">
	<meta name="description" content="">
	<meta name='copyright' content=''>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Title -->
	<title>Henriqueta Silva | Portifolio de Imagens</title>

	<link
		href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
		rel="stylesheet">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" href="assets/geral/css/main.css">
	<!-- Nice Select CSS -->
	<link rel="stylesheet" href="assets/geral/css/nice-select.css">
	<!-- Font Awesome CSS -->
	<link rel="stylesheet" href="assets/geral/css/font-awesome.min.css">
	<!-- icofont CSS -->
	<link rel="stylesheet" href="assets/geral/css/icofont.css">
	<!-- Slicknav -->
	<link rel="stylesheet" href="assets/geral/css/slicknav.min.css">
	<!-- Owl Carousel CSS -->
	<link rel="stylesheet" href="assets/geral/css/owl-carousel.css">
	<!-- Datepicker CSS -->
	<link rel="stylesheet" href="assets/geral/css/datepicker.css">
	<!-- Animate CSS -->
	<link rel="stylesheet" href="assets/geral/css/animate.min.css">
	<!-- Magnific Popup CSS -->
	<link rel="stylesheet" href="assets/geral/css/magnific-popup.css">

	<!-- Medipro CSS -->
	<link rel="stylesheet" href="assets/geral/css/normalize.css">
	<link rel="stylesheet" href="assets/geral/css/style.css">
	<link rel="stylesheet" href="assets/geral/css/responsive.css">

</head>

<body>

	<!-- Preloader -->
	<!-- <div class="preloader">
		<div class="loader">
			<div class="loader-outter"></div>
			<div class="loader-inner"></div>

			<div class="indicator">
				<svg width="16px" height="12px">
					<polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
					<polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
				</svg>
			</div>
		</div>
	</div> -->
	<!-- End Preloader -->



		<!-- Header Area -->
		<header class="header">
			<!-- Header Inner -->
			<div class="header-inner">
				<div class="container">
					<div class="inner">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-12 d-none">
								<!-- Start Logo -->
								<div class="logo">
									<a href="index.html"><img src="img/logo.png" alt="#"></a>
								</div>
								<!-- End Logo -->
								<!-- Mobile Nav -->
								<div class="mobile-nav"></div>
								<!-- End Mobile Nav -->
							</div>
							<div class="col-lg-12 col-md-12 col-12">
								<!-- Main Menu -->
								<div class="main-menu">
									<nav class="navigation">
										<ul class="nav menu">
											<li><a href="index.html"> Home </a></li>
											<li><a href="about_me.html">Sobre mim</a></li>
											<li><a href="candidacy.html"> Minha Candidatura </a></li>
											<li><a href="faq.html">FAQ</a></li>
											<li><a href="news.html">Notícias</a></li>
											<li><a href="contacts.html"> Contactos </a></li>
										</ul>
									</nav>
								</div>
								<!--/ End Main Menu -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Header Inner -->
		</header>
		<!-- End Header Area -->

	<!-- Breadcrumbs -->
	<div class="breadcrumbs overlay" style="background-image: url('assets/geral/img/plestra2.jpg');">
		<div class="container">
			<div class="bread-inner">
				<div class="row">
					<div class="col-12">
						<h2>Cerimónia de Formatura</h2>
						<ul class="bread-list">
							<!-- <li><a href="index.html">Home</a></li> -->
							<!-- <li><i class="icofont-simple-right"></i></li> -->
							<!-- <li class="active">Portfolio Details</li> -->
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Breadcrumbs -->

	<!-- Start Portfolio Details Area -->
	<section class="pf-details section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="inner-content">
						<div class="image-slider">
							<div class="pf-details-slider">
								<img src="assets/geral/img/formatura-na-ordem.jpg" alt="#">
								<img src="assets/geral/img/formatura-na-ordem2.png" alt="#">
								<img src="assets/geral/img/palestra.jpg" alt="#">
							</div>
						</div>
						<div class="date">
							<ul>
								<li><span>Local :</span> Anfitiatro da Ordem</li>
								<li><span>Date :</span> 1996</li>
							</ul>
						</div>
						<div class="body-text">
							<h3>Minha Cerimónia</h3>
							<p>
								Lembro-me vividamente do ano de 1996, quando Henriqueta Maria Augusto de Sousa da Silva concluiu sua formação na Ordem dos Advogados de Angola. Foi um período marcante em sua trajetória, repleto de aprendizado e crescimento profissional. Sua dedicação incansável e paixão pelo Direito se destacaram durante esse período de formação na Ordem, e a experiência foi verdadeiramente enriquecedora</p>
							<p>
								A formação na Ordem dos Advogados representou um marco fundamental para Henriqueta, fornecendo-lhe uma base sólida para sua carreira jurídica. Ela mergulhou profundamente nos estudos, absorvendo conhecimentos teóricos e práticos que moldariam sua abordagem à advocacia. A troca de ideias com colegas, a orientação de professores renomados e a imersão nos princípios éticos da profissão foram elementos cruciais que contribuíram para o seu amadurecimento como advogada.
							 </p>
							<p>
								A cerimônia de formatura foi um momento emocionante e memorável para Henriqueta. Foi uma celebração da perseverança e do comprometimento ao alcançar um marco significativo em sua jornada profissional. A atmosfera estava impregnada de orgulho e realizações, com colegas, familiares e mentores reunidos para testemunhar esse momento especial. A solenidade não apenas simbolizou o fim de uma fase de estudos, mas também o início de uma promissora carreira na advocacia.
							</p>
							<div class="share">
								<h4>Partilhar Artigo -</h4>
								<ul>
									<li>
										<a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-twitter" aria-hidden="true"></i></a>
										</li>
									<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Portfolio Details Area -->

	<!-- Footer Area -->
	<footer id="footer" class="footer ">
		<!-- Footer Top -->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-12">
						<div class="single-footer">
							<h2>Nossas Midias Socias</h2>
							<p>Siga-nos nas redes socias e faça parte da mudança conosco.</p>
							<!-- Social -->
							<ul class="social">
                                <li><a target="_blank" href="https://instagram.com/henriqueta_desousa_dasilva?igshid=MzMyNGUyNmU2YQ=="><i class="icofont-instagram"></i></a></li>
                                <li><a target="_blank" href="https://www.linkedin.com/groups/9545634"><i class="icofont-linkedin"></i></a></li>
                            </ul>
							<!-- End Social -->
						</div>
					</div>
					
					
					<div class="col-md-6 col-12">
						<div class="single-footer">
							<h2>Newsletter</h2>
							<p>Esteja actualizado com as nossas actividades mais recentes assinando a nossa mais nova newsletter.</p>
							
							<form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
								<input name="email" placeholder="Insira seu endereço de email..." class="common-input" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email address'" required="" type="email">
								<button type="submit" class="button"><i class="icofont icofont-paper-plane"></i></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Footer Top -->
		<!-- Copyright -->
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-12">
						<div class="copyright-content">
							<p>© Copyright 2023 | Todos os Direitos Reservados por <a href="#" target="_blank"> Henriqueta Silva</a> </p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Copyright -->
	</footer>
	<!--/ End Footer Area -->

	<!-- jquery Min JS -->
	<script src="assets/geral/js/jquery.min.js"></script>
	<!-- jquery Migrate JS -->
	<script src="assets/geral/js/jquery-migrate-3.0.0.js"></script>
	<!-- jquery Ui JS -->
	<script src="assets/geral/js/jquery-ui.min.js"></script>
	<!-- Easing JS -->
	<script src="assets/geral/js/easing.js"></script>
	<!-- Color JS -->
	<script src="assets/geral/js/colors.js"></script>
	<!-- Popper JS -->
	<script src="assets/geral/js/popper.min.js"></script>
	<!-- Bootstrap Datepicker JS -->
	<script src="assets/geral/js/bootstrap-datepicker.js"></script>
	<!-- Jquery Nav JS -->
	<script src="assets/geral/js/jquery.nav.js"></script>
	<!-- Slicknav JS -->
	<script src="assets/geral/js/slicknav.min.js"></script>
	<!-- ScrollUp JS -->
	<script src="assets/geral/js/jquery.scrollUp.min.js"></script>
	<!-- Niceselect JS -->
	<script src="assets/geral/js/niceselect.js"></script>
	<!-- Tilt Jquery JS -->
	<script src="assets/geral/js/tilt.jquery.min.js"></script>
	<!-- Owl Carousel JS -->
	<script src="assets/geral/js/owl-carousel.js"></script>
	<!-- counterup JS -->
	<script src="assets/geral/js/jquery.counterup.min.js"></script>
	<!-- Steller JS -->
	<script src="assets/geral/js/steller.js"></script>
	<!-- Wow JS -->
	<script src="assets/geral/js/wow.min.js"></script>
	<!-- Magnific Popup JS -->
	<script src="assets/geral/js/jquery.magnific-popup.min.js"></script>
	<!-- Counter Up CDN JS -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="assets/geral/js/bootstrap.min.js"></script>
	<!-- Main JS -->
	<script src="assets/geral/js/main.js"></script>
</body>

</html>